.main {
    padding: 1rem;
}

.topDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.epl {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
h2 {
    font-size: medium;
}
.epl article {
    font-size: small;
}

.epl img {
    width: 3rem;
    object-fit: cover;
}

.epl img:hover {
    animation: roar 1s infinite;
}

.epl img:hover {
    transform: scale(1.7);
    transition: 1s;
    animation: roar 1s infinite
}

@keyframes roar {
    from {
        /* transform: rotate(0deg); */
    }
    to {
        /* transform: scale(2); */
    }
}

.country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.country img {
    width: 2rem;
    object-fit: cover;
}

.epl select {
    padding: 0.2rem;
    border-radius: 1rem;
    border-style: none;
}

.epl select option {
    color: white;
    background-color: rgba(60, 60, 109, 1);
}

div hr {
    width: 100vw;
    background-color: rgb(60, 60, 109);
}