.main {
    padding: 1rem;
}

.topDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.epl {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.epl img {
    width: 3rem;
    object-fit: cover;
}

.country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.country img {
    width: 2rem;
    object-fit: cover;
}

.epl select {
    padding: 0.7rem;
    border-radius: 1rem;
    border-style: none;
}

.epl select option {
    color: white;
    background-color: rgba(60, 60, 109, 1);
}

div hr {
    width: 10s0vw;
    background-color: rgb(60, 60, 109);
}