.topScorers {
    display: flex;
    gap: 1rem;
}

.player {
    width: 10rem;
    height: 18rem;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #efefef;
    width: 20rem;
    border-radius: 1rem;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: solid 0.01rem #3c3c6d;
    margin-bottom: 0.5rem;
    padding: 0;
}

.playerInfo {
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    gap: 0.5rem;
}

.playerMenu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.soccerBall img {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 2rem;
}

.player:hover {
    transform: scaleX(1.05);
    transition: 0.7s;
}

.teamLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamLogo img {
    width: 5rem;
}