.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main h3 {
    font-size: small;
}

.topScorers {
    display: flex;
    gap: 1rem;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid #efefef 0.15rem;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: solid 0.01rem #3c3c6d;
    margin-bottom: 0.5rem;
    padding: 0;
}

.head p {
    font-size: small;
}

.playerInfo {
    display: flex;
    gap: 0.5rem;
}

.playerInfo div .profile {
    width: 3.5rem;
}

.playerMenu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.playerMenu p {
    padding: 0;
    margin: 0rem;
    font-size: small;
}


.soccerBall img {
    width: 1rem;
    aspect-ratio: 1;
}

.teamLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamLogo img {
    width: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;    
}