.tableDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

table {
    border-collapse: collapse;
    border: solid rgb(60, 60, 109);
    border-width: 0.001rem;
    object-fit: cover;
    border-radius: 1rem;
}
.tableContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
th {
    text-align: left;
    border-bottom: solid 0.1rem rgb(60, 60, 109);
    padding: 0.7rem;
    font-size: small;
}

td {
    padding: 0.618rem;    
    text-align: left;
    width: 1rem;
    font-size: small;
}

td div img {
    object-fit: cover;
    width: 1.5rem;
}

td div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

tr:nth-child(odd) {
    background: #efefef
}

.teamName {
    width: 17vw;
}

.teamName div a {
    color: black;
    height: auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form div {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.form div img {
    object-fit: cover;
    width: 0.618rem;
}

.form {
    display: flex;
    width: 5rem;
    gap: 0.1rem;

}

div button {
    padding: 0.5rem;
    background-color: rgb(60, 60, 109);
    border: none;
    width: 4rem;
    color: white;
    border-radius: 1rem;
    margin-top: 0.2rem;
}