.tableDiv {
    display: flex;
    justify-content: center;
}

table {
    width: 100vw;
    border-collapse: collapse;
    border: solid 0.1rem rgb(60, 60, 109);
}

th {
    text-align: left;
    border-bottom: solid 0.1rem rgb(60, 60, 109);
    padding: 0.7rem;
}

td {
    padding: 0.7rem;
    text-align: left;
    border-bottom: solid 0.01rem;
}

td div img {
    object-fit: cover;
    width: 1.5rem;
}

td div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.teamName,
.teamForm {
    width: 15vw;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}