
body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #61dafb;
    transition: 0.7s;
}
